:root{
    --h1size: 1.8rem;
    --h2size: 1.17rem;
    --h3size: 1.17rem;
    --gap: 16px;
    --foreground-color: #262323;
    --background-color: #171515;
    --theme-color: #5E0003
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#F4F4F9;
}
body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 1fr;
    margin: 0;
}
.dashboard{
    background-color: var(--theme-color);
}
.content{
    display: grid;
    grid-template-rows: 1fr 6fr;
    background-color: var(--foreground-color);
}
.button img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1/1;
}
.left, .container{
    display: flex;
    align-items: center;
    gap: calc(var(--gap) * 2);
}
.pfp{
    background-color: azure;
    border-radius: 360px;
    aspect-ratio: 1/1;
    width: 3.5rem;
}
.left .pfp{
    width: 5rem;
}
.left h2{
    font-size: var(--h1size);
    margin-top: 0px;
}
.left h3{
    margin-bottom: 5px;
}
.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:calc(var(--gap) * 2);
}
.right button{
    background-color: var(--theme-color);
    font-size: var(--h3size);
    padding: calc(var(--gap) / 2);
    color: #F4F4F9;
    border-radius: 90px;
    border-color: var(--theme-color);
    padding-left: calc(var(--gap)*2);
    padding-right: calc(var(--gap)*2);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(var(--gap) * 2);
    margin-right: calc(var(--gap) * 2);
    padding-top: calc(var(--gap) / 2);
    padding-bottom: calc(var(--gap) / 2);
}
.search{
    display: flex;
    align-content: center;
    justify-content: left;
    width: 55%;
}
input{
    background-color: var(--background-color);
    border: var(--foreground-color);
    padding: 0.3rem;
    width: 100%;
    border-radius: 90px;
}
.button{
    display:flex;
    align-items: center;
    margin-right: 1.5rem;
}
.button h2{
    margin: 0;
    padding: 0;
}
.button span{
    font-size: calc(var(--h2size) + 0.5rem);
    margin: 1rem;
    margin-left: 1.5rem;
}
.button.top span{
    font-size: calc(var(--h1size) + 0.5rem);
}
.workspace{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #171515;
    gap:var(--gap);
    padding-left: calc(var(--gap) * 2);
    padding-right: calc(var(--gap) * 2);
}
.projectcards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:var(--gap);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--foreground-color);
    height: 10rem;
}
.profile{
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--foreground-color);
    padding: 16px;
    box-sizing: border-box;
}
.stack{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.boxes{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.box{
    background-color: var(--foreground-color);
}
.projects, .announcements, .trending{
    display: flex;
    flex-direction: column;
}
.projects > *:last-child, .announcements > *:last-child, .trending > *:last-child{
    flex: initial;
}
a{
    text-decoration: none;
}
h1{
    font-size: var(--h1size);
}
h2{
    font-size: var(--h2size);
}
.transparent{
    background-color: transparent;
    border: transparent;
}
.transparent:hover{
    cursor: pointer;
}